.container {
    padding: 16px;
    background-color: rgb(209, 177, 69);
    margin-left: 488px;
    width: 470px;
  }

.p1{
    width: 100%px;
    height: 100px;
}
.label{
    padding-bottom: 10px;
}
.Register{
  background-color: #aa5d04;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}
.input{
    padding: 10px;
    width: 96%;
    margin: 8px 0;
}
.p2{
     width: 100%;
     height: 100px;
     background-color: rgb(169, 15, 15);
     margin-bottom: 30px;
     color: rgb(241, 230, 18);
     text-align: center;
     padding-top: 20px;
}
.input1{
    width: 90px;
    height: 35px;
    
}